body, #game-container, #canvas-container {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

#fps-display, #gamepad-status-display {
    position: absolute;
    z-index: 99;
    border: solid #F00 1px;
    margin: 0;
    padding: 0.25em;
    background: rgba(0,0,0,0.75);
    color: #C00;
    font-family: monospace;
}

#fps-display {
    top: 0;
    right: 0;
    width: 200px;
}

#gamepad-status-display {
    bottom: 0;
    right: 0;
    width: 200px;
    height: 300px;
}
